
<div class="container landing_page">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="landing well">
      <h1 class="text-center">Le Rails Ex</h1>
      <h4 class="text-center">Learning different Rails functionality through Exercisms</h4><br><br>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= link_to 'Login with Github', login_path, class: "btn btn-default" %>

        </div>
      </div>
    </div>
  </div>
</div>

