.img-thumbnail {
          max-width: 5%;
        }

nav .btn {
    margin-top: 12px;
    margin-right: 25px;
}

img {
    vertical-align: middle;
    max-width: 60%;
}

img-dashboard {
    max-width: 10%;
}

img-feed {
    max-width: 8%;
}
